node_modules/
npm-debug.log*
ryp-calculator-web.sublime-workspace
dist/*.js
dist/*.html
dist/*.css
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
